body {
    margin: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 70px;
    border: green solid;
    margin: 0;
}
main {
    display: flex;

}
#listContainer {
    border: solid blue;
    width: 60vw;
    min-height: 80vh;
    text-align: center;
    box-sizing: border-box;
}
.completedCancelled {
    border: solid purple;
    width: 40vw;
    min-height: 40vh;
    text-align: center;
    box-sizing: border-box;
}

h1, h3, p {
    margin: 0;
}

.list-item {
    height: 100px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
}
.list-content {
    
}
.list-header {
    display: flex;
}
.listText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}
.checkbox {
    width: 15px;
    height: 15px;
    border: dashed black;
    margin-right: 25px;
    margin-top: 5px;
}